:root {
    --error-color: #e82221;
    --error-color2: #e88376;
    --main-color: #FF8B4F;
    --completive-color: #E89A3C;
    --completive1-color: #e86d64;
    --completive2-color: #E8513C;
    --completive3-color: #FF427E;
    --completive4-color: #FFCB4F;
    --success-color: #008003;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 960px;
}

header {
    height: 40px;
    margin-bottom: 20px;
}

footer {
    margin: 40px 0;
}

footer p {
    text-align: center;
}

nav{
    position: fixed;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}

nav li {
    display: inline;
    float: left;
}

nav a:link, nav a:visited {
    background-color: var(--main-color);
    color: white;
    display: block;
    width: 160px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;

}

nav a:hover {
    background-color: var(--completive2-color);
}

a:link{
    text-decoration: none;
    color: var(--completive3-color);
}

a:visited{
    text-decoration: none;
    color: var(--completive1-color);
}

.big-form {
    font-size: 14px;
}

.big-form label {
    display: inline-block;
    width: 210px;
    text-align: right;
}

.big-form select {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    outline-color: var(--main-color);
}

.big-form input[type=text], input[type=password], input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline-color: var(--main-color);
}

.big-form input[type=submit] {
    float: right;
    border: none;
    background-color: var(--completive4-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.big-form input[type=submit]:hover {
    background-color: var(--completive2-color);
}

.small-form {
    display: inline-flex;
}

.small-form input[type=submit] {
    border: none;
    float: right;
    background-color: var(--completive4-color);
}

.small-form input[type=submit]:hover {
    background-color: var(--completive2-color);
}


.errorInput {
    background-color: var(--error-color2);
    border: 1px solid #cc0033;
    outline: none;
}

.success {
    color: var(--success-color);
    text-align: center;
    font-size: large;
}

.error {
    color: var(--error-color);
    text-align: center;
    font-size: large;
    clear: both;
}

.row {
    display: flex;
    margin-top: 30px;
}

.column {
    width: 33.3%;
    display: inline-block;
    text-align: center;
    overflow: auto;
}

.right-form {
    float: right;
    margin: 0 15% 0 0;
}

.left-form {
    float: left;
    margin: 0 0 0 15%;
}

.entry-description {
    background-color: var(--main-color);
    color: black;
    font-size: large;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    width: 80%;
    margin: 0 10%;
}

.entry-left {
    margin-left: 20%;
}

.entry-center {
    margin: 0 7.5%;
}

.entry-right {
    margin-right: 20%;
}

.dot-style {
    width: 70%;
    border-top: 1px dotted var(--completive4-color);
}

.delete-user-form {
    clear: both;
    margin-top: 20px;
}

.delete-user-form input[type=submit] {
    border: none;
    background-color: var(--main-color);
}

.delete-user-form input[type=submit]:hover {
    background-color: var(--error-color);
}

.move-button {
    border-radius: 50%;
    border: none;
    background-color: var(--completive4-color);
    font-size: large;
}

.move-button:hover {
    background-color: var(--completive2-color);
}

.manager-tile {
    text-align: center;
    margin: 40px 0;
    color: var(--completive3-color);
}

.tasks-body {
    border: 1px dotted var(--main-color);
    padding: 10px;
}

.task-body {
    border: 2px solid var(--main-color);
    padding: 5px;
    margin: 10px 0;
}

.task-body ol {
    border-bottom: var(--main-color) dotted 1px;
    border-top: var(--main-color) dotted 1px;
}

.task-body li
{
    padding: 5px 0;
}

.task-title {
    font-size: larger;
    margin: 5px 0 0 0;
}

.todo-list-title
{
    width: 80%;
    text-align: center;
    font-size: 20px;
    color: var(--completive3-color);
    margin: auto;
}

.task-description {
    margin: 10px 0;
    font-size: larger;
}
.app-info{
    margin: 30px 0;
    border-top: 1px dotted var(--completive2-color);
    border-bottom: 1px dotted var(--completive2-color);
}
.app-info p{
    text-align: left;
}
.app-info h3{
    text-align: center;
}
.app-info li{
    margin: 20px 0;
}

.app-info ul{
    list-style-type: square;
}

.app-info a{
    font-size: 20px;
    text-decoration: underline;
    color: var(--completive2-color);
    display: block;
    margin: 20px auto;
    width: 250px;
}

.app-info strong{
    color: var(--completive3-color);
}
